@import "../node_modules/bootstrap/scss/bootstrap";
@media print {

    html {
        visibility: hidden;
        height: 100vh;
        margin: 0 !important;
        padding: 0 !important;
        overflow: hidden;
        page-break-after: avoid !important;
        page-break-before: avoid !important;
    }

    .print-container,
    .print-container * {
        visibility: visible;
    }
}
#admin-index {
  background-image: url(../images/admin_index_bg.jpg);
  height: 100vh;
}
#user-index, #user-signup {
  background-image: url(../images/index_bg.jpg);
  height: 100vh;
}
.navbar-nav > li {
  padding-left: 30px;
  padding-right: 30px;
}

@media (min-width: 992px) {
  #admin-index {
    margin-top: -58.59px;
  }
  #user-index, #user-signup {
    margin-top: -58.59px;
  }
}

#flight-return,
#edit-flight-return,
#hidden_departure_time,
#hidden_departure_time_2,
#hidden_return_time {
  display: none;
}

.search_container {
    display: grid;
    grid-template-columns:2.5rem 1fr;
    width:100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
  }
  
  .search_container:focus-within i {
    display: none;
  }
  
  .search_container:focus-within .search{
    grid-column:1/4;
  }
  
  .search_container:focus-within .search::placeholder {
    color:transparent;
  }
  
  .search_icon {
    padding: 1rem;
    grid-row:1;
    grid-column:1/2;
    z-index:2
  }
  
  .search {
    border: 0;
    padding: 0.5rem;
    grid-column:2/4;
    grid-row:1;
    outline:none;
  }